
<launch>
    <!-- Start gazebo simulation -->
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch"/>

    <!-- Start streaming turtlebot's camera -->
    <node pkg="web_video_server" name="video_server" type="web_video_server" />
    
    <!-- Start web GUI -->
    <node pkg="visual_hmi" name="server_gui" type="gui_startup.sh" output="screen"/>

    <!-- Start ROSBridge server, for javascript communication -->
    <include file="/opt/ros/noetic/share/rosbridge_server/launch/rosbridge_websocket.launch"/>
    
    <!-- Start action server to receive info from web server -->
    <node pkg="visual_hmi" name="action_server" type="action_server_test.py" output="screen"/>

    <!-- Start SLAM simulation -->

    <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
        <arg name="slam_methods" value="gmapping"/>
    </include>

    <!-- Implement navigation commands -->
    <include file="$(find turtlebot3_navigation)/launch/move_base.launch"/>



</launch>